<div style="background: #1F2937; border-radius: 0px; padding: 2.2em; user-select: none;">
    <h5 mat-dialog-title style="text-align: justify; color: rgb(255, 255, 255); font-weight: 500">
        Verificar identidad
    </h5>
    <label>Ingresa el código de verificación enviado a tu correo.</label>

    <form [formGroup]="tokenForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" style="margin: 12px 0px 5px 0px;">
            <mat-label>Código</mat-label>
            <input matInput formControlName="codigoVerificacion" type="text" maxlength="6" style="color: white" />
            <mat-error *ngIf="
          tokenForm.get('codigoVerificacion')?.invalid &&
          tokenForm.get('codigoVerificacion')?.touched
        " style="font-weight: bold">
                Ingresa el código de 6 dígitos.
            </mat-error>
        </mat-form-field>

        <mat-spinner *ngIf="spinnerCargando" diameter="30"></mat-spinner>
    </form>

    <div class="actions">
        <button mat-stroked-button (click)="cerrarDialogo()">Cancelar</button>
        <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="spinnerCargando">Verificar</button>
        
    </div>
</div>