<mat-toolbar color="transparent" class="navbar">
    <span class="logo">Logo</span>
    <span class="spacer"></span>
    
    <!-- Navegación con la opción bloqueada cuando esté seleccionada -->
    <a mat-button [routerLink]="['/']" routerLinkActive="active" [disabled]="isCurrentRoute('')">Inicio</a>
    <a mat-button [routerLink]="['/login']" routerLinkActive="active" [disabled]="isCurrentRoute('login')">Login</a>
    <a mat-button [routerLink]="['/register']" routerLinkActive="active" [disabled]="isCurrentRoute('register')">Registro</a>
  </mat-toolbar>
  