<section>
    <div class="example-label">Basic</div>
    <div class="example-button-row">
      <button mat-button>Basic</button>
      <button mat-button disabled>Disabled</button>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Raised</div>
    <div class="example-button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Stroked</div>
    <div class="example-button-row">
      <button mat-stroked-button>Basic</button>
      <button mat-stroked-button disabled>Disabled</button>
      <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Flat</div>
    <div class="example-button-row">
      <button mat-flat-button>Basic</button>
      <button mat-flat-button disabled>Disabled</button>
      <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Icon</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>more_vert</mat-icon>
        </button>
        <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </div>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">FAB</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab disabled aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Mini FAB</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-mini-fab aria-label="Example icon button with a menu icon">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
            <mat-icon>home</mat-icon>
          </button>
        </div>
        <div class="test-primeng">
            <button mat-stroked-button style="color: rgb(0, 195, 255);" (click)="openModal()">
                <mat-icon style="color: rgb(0, 195, 255);">cloud_upload</mat-icon>
                Subir contenido
            </button>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="example-label">Extended Fab</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab extended>
            <mat-icon>favorite</mat-icon>
            Basic
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab extended disabled>
            <mat-icon>favorite</mat-icon>
            Disabled
          </button>
        </div>
        <div class="example-button-container">
          <a mat-fab extended routerLink=".">
            <mat-icon>favorite</mat-icon>
            Link
          </a>
        </div>
      </div>
    </div>
  </section>

   <!-- Modal para subir contenido -->
   <p-dialog header="Crear publicación" [(visible)]="displayModal" [modal]="true" [closable]="false" [style]="{width: '40vw'}">
    <div class="p-fluid">
        <div class="p-field" style="margin-bottom: 5px;">
            <label for="texto">Comparte algo:</label>
            <textarea id="texto" rows="5" pInputTextarea></textarea>
        </div>

        <div class="p-field" style="margin-bottom: 5px;">
            <p-fileUpload mode="basic" name="demo[]" accept="image/*,video/*" maxFileSize="1000000" (onSelect)="onFileSelect($event)" chooseLabel="Adjuntar Imagen/Video"></p-fileUpload>
        </div>
        <div class="field" style="margin-bottom: 10px;">
            <p-dropdown [options]="categorias" optionlabel="catego" placeholder="Elige una categoria"></p-dropdown>
        </div>

        <div class="field">
            <p-button label="Subir publicación" icon="pi pi-check" severity="success" [text]="true" [raised]="true" (click)="subirContenido()"></p-button>
            <p-button label="Cancelar y cerrar" icon="pi pi-times" severity="danger" [text]="true" [raised]="true" (click)="closeModal()"></p-button>
        </div>
    </div>
</p-dialog>

<div class="card">
    <div class="flex justify-content-center flex-wrap gap-3 mb-4">
        <p-button icon="pi pi-check" />
        <p-button icon="pi pi-bookmark" severity="secondary" />
        <p-button icon="pi pi-search" severity="success" />
        <p-button icon="pi pi-user" severity="info" />
        <p-button icon="pi pi-bell" severity="warning" />
        <p-button icon="pi pi-heart" severity="help" />
        <p-button icon="pi pi-times" severity="danger" />
    </div>
    <div class="flex justify-content-center flex-wrap gap-3 mb-4">
        <p-button icon="pi pi-check" [rounded]="true" />
        <p-button icon="pi pi-bookmark" [rounded]="true" severity="secondary" />
        <p-button icon="pi pi-search" [rounded]="true" severity="success" />
        <p-button icon="pi pi-user" [rounded]="true" severity="info" />
        <p-button icon="pi pi-bell" [rounded]="true" severity="warning" />
        <p-button icon="pi pi-heart" [rounded]="true" severity="help" />
        <p-button icon="pi pi-times" [rounded]="true" severity="danger" />
    </div>
    <div class="flex justify-content-center flex-wrap gap-3 mb-4">
        <p-button icon="pi pi-check" [rounded]="true" [outlined]="true" />
        <p-button icon="pi pi-bookmark" [rounded]="true" severity="secondary" [outlined]="true" />
        <p-button icon="pi pi-search" [rounded]="true" severity="success" [outlined]="true" />
        <p-button icon="pi pi-user" [rounded]="true" severity="info" [outlined]="true" />
        <p-button icon="pi pi-bell" [rounded]="true" severity="warning" [outlined]="true" />
        <p-button icon="pi pi-heart" [rounded]="true" severity="help" [outlined]="true" />
        <p-button icon="pi pi-times" [rounded]="true" severity="danger" [outlined]="true" />
    </div>
</div>
  