<div class="container">
    <div class="options-section">
        <div class="profile-info">
            1
        </div>
        <div class="options-info">
            <div class="button-list">

                <label style="text-align: center; font-size: 0.7em; color: whitesmoke;">
                    Opciones del perfil
                </label>

                <mat-divider></mat-divider>
                <button mat-button>
                    <mat-icon>account_circle</mat-icon>
                    Mi información
                </button>
                <button mat-raised-button>
                    <mat-icon>library_books</mat-icon>
                    Mi contenido
                </button>
                <button mat-button>
                    <mat-icon>lock</mat-icon>
                    Seguridad
                </button>
                <button  mat-stroked-button style="color: rgb(255, 94, 94); background: none;">
                    <mat-icon style="color: red;">exit_to_app</mat-icon>
                    Cerrar sesión
                </button>
            </div>
        </div>
    </div>

    <div class="content-section">
        <div class="content-info">
            2

        </div>
    </div>
</div>