@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

h1{
  font-size: 20vh;
  color: #fff;
}
h2 {
    color: #fff;
  }
h2 span{
  font-size: 4rem;
  font-weight: 600;
  color: orange;
}
a:link, a:visited{
  color: orange;
  text-decoration: none;
}

h3 a:hover{
  text-decoration: none;
  background: #946000;
  cursor: pointer;
}
.container{
    padding: 10em;
    height: 100vh;
    background: rgb(53, 53, 53);
    font-family: 'Montserrat', sans-serif;
    flex-direction: row;
    box-sizing: border-box;
}