/* LOGIN - ESTILOS DE PÁGINA*/

/* Contenedor general */
.login-container {
  background: #434343;
  display: flex;
  height: 100vh;
  flex-direction: row;
  padding: 5em;
  box-sizing: border-box;
}

/* Contenido del formulario */
.form-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #ffffff00;

  opacity: 0;
  animation: loginForm 2s ease-in-out forwards;
}

mat-card-title {
  user-select: none;
  font-size: 2.5em;
  font-weight: bold;
  color: orange;
  padding-bottom: 0.7em;
}

mat-card {
  width: 100%;
  max-width: 400px;
  background: rgb(0, 0, 0);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
}


.login-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.login-actions button{
  background: #3c3c3c;
  color: #fff;
  width: 100%;
}

.login-actions button:hover{
  background: orange;
}

.login-actions a{
  text-align: center;
  font-size: 0.9rem;
  color: rgb(255, 205, 0);
  font-weight: bold;
  margin-bottom: 0.8em;
  text-decoration: none;
}

.login-actions a:hover{
  cursor: pointer;
  text-decoration: underline;
}

.submit-button {
  width: 100%;
  max-width: 200px;
  margin-bottom: 0.8em;
}

/* Sombra y estilo para el campo de contraseña */
.password-field {
  position: relative;
}

.password-field button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

/* Estilo para los mensajes de error */
mat-error {
  display: block;
  color: red;
  font-size: 0.7rem;
  font-weight: bold;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1.1rem;
}

mat-card-footer {
  text-align: center;
  font-size: 0.9rem;
  color: black;
}

mat-card-footer a {
  color: rgb(255, 205, 0);
  text-decoration: none;
  font-weight: bold;
}

mat-card-footer a:hover {
  text-decoration: underline;
}

mat-checkbox span{
  color: #fff;
}


/* Contenido de la imagen presentacion */
.image-section {
  flex: 1;
  background: url('/assets/bckLogo2.png') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  opacity: 0;
  animation: mostrarLogo 4s ease-in-out forwards;
}

.welcome-text {
  padding: 0.8em;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.welcome-text h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

.welcome-text p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  margin-top: 0;
}

p {
  color: #fff;
}


/* KEYGRAMES - APLICAR EFECTOS */

/* Login - Imagen logo desvanecido */
@keyframes mostrarLogo {
  from {
      opacity: 0;
      /* Inicio completamente invisible */
  }

  to {
      opacity: 1;
      /* Final completamente visible */
  }
}

/* Login - Formulario desvanecido */
@keyframes loginForm {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}