<div class="container">
    <div class="options-section">
        <div class="options-content">
            <label style="text-align: center;">Descubrir</label>

            <mat-divider></mat-divider>

            <button mat-button>
                <mat-icon>star</mat-icon>
                Favoritos
            </button>
            <button mat-button>
                <mat-icon>fitness_center</mat-icon>
                Entrenamiento
            </button>
            <button mat-button style="color: rgb(214, 214, 214); background: #005CBB;" (click)="openModal()">
                <mat-icon style="color: rgb(0, 195, 255);">cloud_upload</mat-icon>
                Subir contenido
            </button>
        </div>
    </div>

    <div class="pubs-section">
        <div class="row" style="width: 80%; text-align: justify;">
            <div class="col">
                <div class="custom-panel" *ngFor="let post of publicaciones">
                    <div class="custom-header">
                        <img src="https://via.placeholder.com/50" alt="Avatar" class="avatar">
                        <span style="font-weight: 700; font-size: larger;">{{ post.nombre_usuario }}</span> <!-- Mostrar el nombre del usuario -->
                        <span *ngIf="!post.nombre_usuario">Usuario no disponible</span> 
                    </div>
                    <mat-divider></mat-divider>
                    <div class="custom-content">
                        <p>{{ post.contenido_publicacion }}</p>
    
                        <!-- Mostrar imagen o video según el tipo de contenido -->
                        <img *ngIf="post.tipo === 'image'" [src]="post.media_url" alt="Imagen de {{post.nombre_usuario}}" class="media-content">
                        <video *ngIf="post.tipo === 'video'" [src]="post.media_url" controls class="media-content"></video>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="pubs-footer" style="margin: 1.5em 0px 1em 0em;">
                        <p-rating [(ngModel)]="post.rating" [cancel]="false"></p-rating>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal para subir contenido -->
    <p-dialog header="Crear publicación" [(visible)]="displayModal" [modal]="true" [closable]="false" [style]="{width: '50vw'}">
        <div class="p-fluid">
            <div class="p-field" style="margin-bottom: 5px;">
                <label for="texto">Comparte algo:</label>
                <textarea id="texto" [(ngModel)]="contenido" rows="3" pInputTextarea></textarea>
            </div>
    
            <div class="field" style="margin-bottom: 5px;">
                <p-fileUpload mode="advanced" name="demo[]" accept="image/*,video/*" maxFileSize="10500000" invalidFileSizeMessageSummary="Error"
                 showUploadButton="false" showCancelButton="false" (onSelect)="onFileSelect($event)"
                 chooseLabel="Subir Imagen/Video (10Mb max)">
                </p-fileUpload>
            </div>
            <div class="field" style="margin-bottom: 1em;">
                <p-dropdown [options]="categorias" [(ngModel)]="selectedCategoria" scrollHeight="100px" 
                optionLabel="catego" placeholder="Elige una categoria" required>
            </p-dropdown>
            </div>
    
            <div class="field">
                <p-button label="Subir publicación" icon="pi pi-check" severity="success" [text]="true" [raised]="true" (click)="subirContenido()"></p-button>
                <p-button label="Cancelar y cerrar" icon="pi pi-times" severity="danger" [outlined]="true" (click)="closeModal()"></p-button>
            </div>
        </div>
    </p-dialog>