<div class="container">
    <div class="options-section">
        <div class="options-content">
            <label style="text-align: center;">Descubrir</label>

            <mat-divider></mat-divider>

            <button mat-button>
                <mat-icon>star</mat-icon>
                Favoritos
            </button>
            <button mat-button>
                <mat-icon>fitness_center</mat-icon>
                Entrenamiento
            </button>
            <button mat-button style="color: rgb(214, 214, 214); background: #005CBB;" (click)="openModal()">
                <mat-icon style="color: rgb(0, 195, 255);">cloud_upload</mat-icon>
                Subir contenido
            </button>
        </div>
    </div>

    <div class="pubs-section">
        <div class="row" style="width: 80%; text-align: justify;">
            <div class="col">
                <div class="custom-panel" *ngFor="let post of publicaciones">
                    <div class="custom-header">
                        <img src="https://via.placeholder.com/50" alt="Avatar" class="avatar">
                        <span>{{ post.usuario }}</span>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="custom-content">
                        <p>{{ post.contenido }}</p>
                        <img *ngIf="post.img" [src]="post.img" alt="Imagen de publicación">
                    </div>
                    <mat-divider></mat-divider>
                    <div class="pubs-footer" style="margin-top: 5px;">
                        <p-rating [(ngModel)]="post.rating" [cancel]="false" />
                        <p-button label="Comentar" [text]="true" severity="info"></p-button>                       
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para subir contenido -->
    <p-dialog header="Crear publicación" [(visible)]="displayModal" [modal]="true" [closable]="false" [style]="{width: '40vw'}">
        <div class="p-fluid">
            <div class="p-field" style="margin-bottom: 5px;">
                <label for="texto">Comparte algo:</label>
                <textarea id="texto" [(ngModel)]="nuevaPublicacion.texto" rows="5" pInputTextarea></textarea>
            </div>
 
            <div class="p-field" style="margin-bottom: 5px;">
                <p-fileUpload mode="basic" name="demo[]" accept="image/*,video/*" maxFileSize="1000000" (onSelect)="onFileSelect($event)" chooseLabel="Adjuntar Imagen/Video"></p-fileUpload>
            </div>
            <div class="field" style="margin-bottom: 10px;">
                <p-dropdown [options]="categorias" [(ngModel)]="selectedCategoria" optionlabel="catego" placeholder="Elige una categoria"></p-dropdown>
            </div>

            <div class="field">
                <p-button label="Subir publicación" icon="pi pi-check" severity="success" [text]="true" [raised]="true" (click)="subirContenido()"></p-button>
                <p-button label="Cancelar y cerrar" icon="pi pi-times" severity="danger" [text]="true" [raised]="true" (click)="closeModal()"></p-button>
            </div>
        </div>
    </p-dialog>
</div>
